@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: OpenSans-BoldItalic;
  src: url(../fonts/OpenSans-BoldItalic.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBold;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
}
@font-face {
  font-family: OpenSans-ExtraBoldItalic;
  src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: OpenSans-Italic;
  src: url(../fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: OpenSans-LightItalic;
  src: url(../fonts/OpenSans-LightItalic.ttf);
}
@font-face {
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: OpenSans-Semibold;
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: OpenSans-SemiboldItalic;
  src: url(../fonts/OpenSans-SemiboldItalic.ttf);
}
.ul-clear {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
#uikit .button {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
}
#uikit .button-secondary {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #faf9f9;
  color: #727070;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  background: #edeceb;
  background: linear-gradient(#e2e0e0, #bebdbd);
  background: -webkit-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
}
#uikit .button-secondary:hover {
  background: #cbcaca;
  background: linear-gradient(#f9f9fa, #e8e7e8);
  background: -webkit-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: -o-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: linear-gradient(to top, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
#uikit .button-secondary:active {
  border: 1px solid #6d6d6d;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  background: #888686;
  background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
}
#uikit .button-primary {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #fbf9f9;
  color: #1e7465;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #53bfa1;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -webkit-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: -o-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: linear-gradient(to bottom, #80e8cb 0%, #43b796 100%);
}
#uikit .button-primary:hover {
  background: #4fc4a7;
  background: -o-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: -webkit-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
#uikit .button-primary:active {
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
  border: 1px solid #2d997e;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -o-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: -webkit-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: linear-gradient(to bottom, #4bbca1 0%, #257662 100%);
}
.main-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 37px;
}
.main-menu .main-menu-item .main-menu-link {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #faf9f9;
  color: #727070;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  background: #edeceb;
  background: linear-gradient(#e2e0e0, #bebdbd);
  background: -webkit-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
}
.main-menu .main-menu-item .main-menu-link:hover {
  background: #cbcaca;
  background: linear-gradient(#f9f9fa, #e8e7e8);
  background: -webkit-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: -o-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: linear-gradient(to top, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.main-menu .main-menu-item .main-menu-link:active {
  border: 1px solid #6d6d6d;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  background: #888686;
  background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
}
.main-menu .main-menu-item.active .main-menu-link {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #fbf9f9;
  color: #1e7465;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #53bfa1;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -webkit-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: -o-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: linear-gradient(to bottom, #80e8cb 0%, #43b796 100%);
}
.main-menu .main-menu-item.active .main-menu-link:hover {
  background: #4fc4a7;
  background: -o-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: -webkit-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.main-menu .main-menu-item.active .main-menu-link:active {
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
  border: 1px solid #2d997e;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -o-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: -webkit-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: linear-gradient(to bottom, #4bbca1 0%, #257662 100%);
}
.main-menu .main-menu-item .main-menu-link,
.main-menu .main-menu-item.active .main-menu-link {
  display: block;
  padding: 13px 1.4em;
  text-align: left;
  font-size: 20px;
  text-decoration: none;
  border-radius: 0;
}
.main-menu .main-menu-item:first-child .main-menu-link {
  border-radius: 5px 5px 0 0;
}
.main-menu .main-menu-item:last-child .main-menu-link {
  border-radius: 0 0 5px 5px;
}
.panel-item-hover {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  background: #f3e9d5;
  background: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e0c591 100%), #ffffff;
  background: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%), #ffffff;
  background: linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%), #ffffff;
}
.panel-item-background {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  background: #fbfafa;
  background: -o-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
  background: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
  background: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
}
.contacts-header-background {
  background: #e1b765;
  background: -o-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
  background: -webkit-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
  background: linear-gradient(to bottom, #f4cc7e 10%, #dcb15d 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
}
.menu-contacts {
  box-sizing: border-box;
}
.menu-contacts .contacts-panel-header {
  background: #e1b765;
  background: -o-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
  background: -webkit-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
  background: linear-gradient(to bottom, #f4cc7e 10%, #dcb15d 100%);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
  -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25), inset 0px 0px 0px 3px rgba(246, 247, 247, 0.15), 0 2px 1px 0 rgba(9, 9, 9, 0.17);
  border: 1px solid;
  border-radius: 5px 5px 0 0;
  padding: 5px 28px;
  font-family: OpenSans-Semibold;
  font-size: 20px;
  color: #d0982c;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.menu-contacts .contacts-panel-header .contacts-header-text {
  margin: 0;
}
.contacts-panel-inner {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contacts-panel-inner .contacts-panel-item {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 1px 0px 0px rgba(255, 255, 255, 0.35), 0px 0px 1px 3px rgba(255, 255, 255, 0.15);
  background: #fbfafa;
  background: -o-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
  background: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
  background: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, #e9e7e7 100%);
  border: 1px solid #d6d5d3;
  background: #ffffff;
  border-top: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.contacts-panel-inner .contacts-panel-item:hover {
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  background: #f3e9d5;
  background: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, #e0c591 100%), #ffffff;
  background: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%), #ffffff;
  background: linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%), #ffffff;
}
.contacts-panel-inner .contacts-panel-item:last-child {
  border-radius: 0 0 5px 5px;
}
.contacts-panel-link {
  display: block;
  padding: 8px 97px;
  color: #727070;
  font-size: 14px;
  text-align: left;
  font-family: OpenSans-Regular;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
.contacts-panel-link:before {
  content: "";
  position: absolute;
  left: 26px;
  top: 6px;
  width: 25px;
  height: 25px;
  border-top: 1px solid #dcb15d;
  border-right: 1px solid #dcb15d;
  transform: rotate(45deg);
  background: transparent;
}
.contacts-panel-link:after {
  content: " ";
  position: absolute;
  left: 16px;
  width: 20px;
  height: 22px;
  background: url(../../images/icons_sprite1.png);
}
.contacts-panel-item .image-post:after {
  background-position: 221px 53px;
}
.contacts-panel-item .image-phone:after {
  background-position: 203px 49px;
}
.contacts-panel-item .image-skype:after {
  background-position: 184px 51px;
}
.contacts-panel-item .image-post {
  text-decoration: underline;
}
.contacts-panel-item .image-skype {
  border-radius: 0 0 5px 5px;
}
.panel-header-background {
  background: #a9a8a8;
  background: -moz-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
  background: -webkit-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
  background: linear-gradient(to bottom, #a9a8a8 0%, #7b7878 100%);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}
.item-border-shadow {
  -webkit-box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
}
.panel {
  margin-bottom: 36px;
}
.panel .content-panel-header {
  background: #a9a8a8;
  background: -moz-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
  background: -webkit-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
  background: linear-gradient(to bottom, #a9a8a8 0%, #7b7878 100%);
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  padding: 11px 41px;
  box-sizing: border-box;
  border-radius: 5px 5px 0 0;
  border: 1px solid;
  border-top-color: #9c9c9c;
  border-right-color: #7e7e7e;
  border-bottom-color: #636363;
  border-left-color: #7e7e7e;
}
.panel .content-panel-header .panel-header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: OpenSans-Semibold;
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
}
.panel .content-panel-inner {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 35px 35px 35px 40px;
  background: #f5f4f3;
  border-radius: 0 0 5px 5px;
  border: 1px solid;
  border-top-color: transparent;
  border-right-color: #b8b8b8;
  border-bottom-color: #c5c5c5;
  border-left-color: #b8b8b8;
  overflow: hidden;
}
.panel .content-panel-inner .content-panel-item {
  -webkit-box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 1px 0px 0px #edeceb, 0px 2px 0px 0px rgba(255, 255, 255, 0.75), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.75);
  font-size: 14px;
  color: #727070;
  border-bottom: 1px solid #dbdbda;
  padding-bottom: 35px;
  margin-bottom: 18px;
}
.panel .content-panel-inner .content-panel-item:last-child {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}
.panel .content-panel-inner .content-panel-item:before {
  content: "";
  display: block;
  float: left;
  width: 54px;
  height: 54px;
  background: #f7f7f7;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 0 3px 0 rgba(199, 199, 199, 0.75), inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75), 1px 1px 0px 0px #ffffff;
  box-shadow: inset 1px 0 3px 0 rgba(199, 199, 199, 0.75), inset 1px 1px 0px 0px rgba(199, 199, 199, 0.75), 1px 1px 0px 0px #ffffff;
  background: url(../images/icons_sprite2.png) no-repeat;
}
.panel .content-panel-inner .content-panel-item .experience-text {
  margin-left: 90px;
  font-family: OpenSans-Semibold;
}
.panel .content-panel-inner .content-panel-item .experience-text .work-place,
.panel .content-panel-inner .content-panel-item .experience-text .time-period {
  margin: 0;
}
.panel .content-panel-inner .content-panel-item .experience-text .time-period {
  font-family: OpenSans-Regular;
}
.panel .content-panel-inner .icon-bag:before {
  background-position: 17px 17px;
}
.panel .content-panel-inner .icon-school:before {
  background-position: -42px 17px;
}
.panel .content-panel-inner .icon-graduate:before {
  background-position: -106px 17px;
}
.panel .content-panel-inner .icon-file:before {
  background-position: -166px 17px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  min-height: 100%;
}
.wrapper,
.top-menu-header,
.site-footer-section {
  min-width: 1200px;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.wrapper {
  background: url(../images/background.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
  position: relative;
  min-height: 100%;
  margin: 0 auto -63px;
}
.wrapper:after {
  content: "";
  display: block;
  height: 63px;
}
.top-menu-header {
  background: #737171;
  min-height: 98px;
  padding-top: 10px;
  box-sizing: border-box;
  border-bottom: 7px solid #fff;
}
.top-menu-content {
  overflow: hidden;
}
.top-menu-content .header-logo {
  float: left;
  padding-left: 8px;
}
.logo-link {
  display: block;
  width: 95px;
  height: 75px;
  overflow: hidden;
}
.top-menu-wrapper {
  float: right;
  padding-top: 12px;
  margin-right: -2px;
}
.top-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}
.icons-wrapper {
  float: left;
  margin-right: 9px;
}
.icons-wrapper:last-child {
  margin-right: 0;
}
.icons-social {
  display: block;
  width: 42px;
  height: 44px;
  background: url(../images/icons_sprite1.png) no-repeat;
}
.icons-wrapper .f {
  background-position: 0px -4px;
}
.icons-wrapper .f:hover {
  background-position: 0px -48px;
}
.icons-wrapper .vk {
  background-position: -42px -3px;
}
.icons-wrapper .vk:hover {
  background-position: -42px -51px;
}
.icons-wrapper .tw {
  background-position: -88px -3px;
}
.icons-wrapper .tw:hover {
  background-position: -88px -51px;
}
.icons-wrapper .g {
  background-position: -132px -3px;
}
.icons-wrapper .g:hover {
  background-position: -132px -51px;
}
.page-content-wrapper {
  overflow: hidden;
  padding-top: 34px;
  border-top: 1px solid #ddcf9a;
}
.content {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.content .sidebar {
  float: left;
  width: 250px;
}
.page-content {
  margin-left: 310px;
}
.my-photo-wrapper {
  width: 153px;
  height: 153px;
  float: left;
  box-sizing: border-box;
  border: 9px solid #f6f5f4;
  margin-top: 5px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 1px #000000;
}
.my-photo-wrapper .my-photo {
  width: 100%;
}
.porfolio-basic {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  width: 385px;
  color: #727070;
}
.porfolio-basic .porfolio-basic-item {
  margin: 0;
  font-family: OpenSans-Semibold;
  font-size: 14px;
  margin-bottom: 5px;
}
.portfolio-basic-text {
  font-family: OpenSans-Regular;
  padding-left: 3px;
  margin: 0;
}
.portfolio-basic-text .portfolio-basic-span {
  text-transform: uppercase;
}
.skils {
  padding-top: 10px;
}
.skils .skils-header {
  float: left;
}
.skils .skils-inner {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 140px;
}
.skils-item {
  font-size: 9px;
  text-transform: uppercase;
  margin-left: 5px;
  display: inline-block;
  color: #1e7465;
  font-family: OpenSans-Semibold;
  height: 25px;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.skils-item:before,
.skils-item:after {
  content: "";
  display: block;
  background: url(../images/icons_sprite2.png) no-repeat;
  float: left;
  width: 10px;
  height: 21px;
}
.skils-item:before {
  position: relative;
  top: 0px;
  left: 0;
  background-position: -277px 0px;
}
.skils-item:after {
  float: right;
  width: 4px;
  height: 21px;
  background-position: -416px 0px;
  position: relative;
  top: 0px;
  left: 0px;
}
.skils-item .skils-text {
  display: inline-block;
  background: url(../images/label_line.png) repeat-x;
  padding: 0px 5px 0px 5px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
}
.site-footer-section {
  height: 63px;
  text-align: center;
  font-size: 13px;
  color: #4a545d;
  position: relative;
  background: #fbfbfb;
  -webkit-box-shadow: inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
}
.footer-inner {
  padding: 0 286px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.footer-icon {
  display: block;
  float: left;
  position: relative;
  margin-left: 29px;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #9c9c9c;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
  cursor: pointer;
  text-decoration: none;
}
.footer-icon:before {
  content: "";
  display: block;
  width: 24px;
  height: 22px;
  background: url(../images/icons_sprite1.png);
  background-position: 224px 23px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -13px;
  margin-left: -29px;
}
.footer-icon:hover:before {
  background-position: 202px 23px;
}
.footer-item {
  display: block;
  margin-left: 125px;
  font-family: OpenSans-Light;
  font-size: 12px;
  color: #727070;
  text-align: left;
}
.panel .content-panel-header .panel-header {
  font-family: OpenSans-Light;
}
.panel .content-panel-inner {
  padding: 28px 37px 37px 40px;
}
.feedback-form {
  width: 405px;
  margin: 0 auto;
}
.input-wrapper {
  float: left;
  width: 192px;
  margin-bottom: 16px;
}
.input-wrapper:first-child {
  margin-right: 19px;
}
.user-data-wrapper {
  overflow: hidden;
}
.form-label {
  font-family: OpenSans-Regular;
  font-size: 14px;
  color: #727070;
  display: block;
  margin-bottom: 8px;
}
.textarea-label {
  margin-bottom: 5px;
}
.input-user-data {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #d6d4d3;
  border-radius: 4px;
  color: #c7c6c6;
  padding: 13px 5px;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  background: -o-linear-gradient(#fbfcfd, #f4f3f4);
  background: -webkit-linear-gradient(#fbfcfd, #f4f3f4);
  background: linear-gradient(#fbfcfd, #f4f3f4);
}
.textarea-wrapper {
  margin-bottom: 8px;
}
.textarea-wrapper .message {
  width: 100%;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 300;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #d6d4d3;
  border-radius: 4px;
  color: #c7c6c6;
  padding: 12px 5px;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
  background: -o-linear-gradient(#fbfcfd, #f4f3f4);
  background: -webkit-linear-gradient(#fbfcfd, #f4f3f4);
  background: linear-linear-gradient(#fbfcfd, #f4f3f4);
  height: 183px;
}
.capcha-img-wrapper {
  margin-bottom: 28px;
}
.capcha-img-wrapper .capcha {
  display: block;
  float: left;
  margin-right: 16px;
}
.capcha-img-wrapper .input-capcha {
  width: 192px;
  margin-top: 20px;
  padding: 9px 5px;
}
.buttons-feedback {
  padding: 0 28px;
}
.buttons-feedback .feedback-submit {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #fbf9f9;
  color: #1e7465;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #53bfa1;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -webkit-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: -o-linear-gradient(top, #80e8cb 0%, #43b796 100%);
  background: linear-gradient(to bottom, #80e8cb 0%, #43b796 100%);
  margin-right: 100px;
}
.buttons-feedback .feedback-submit:hover {
  background: #4fc4a7;
  background: -o-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: -webkit-linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  background: linear-gradient(top, #5fdcbd 0%, #3aa087 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.buttons-feedback .feedback-submit:active {
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
  border: 1px solid #2d997e;
  -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
  background: #4fc4a7;
  background: -o-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: -webkit-linear-gradient(top, #4bbca1 0%, #257662 100%);
  background: linear-gradient(to bottom, #4bbca1 0%, #257662 100%);
}
.buttons-feedback .feedback-reset {
  display: inline-block;
  font-size: 14px;
  font-family: 'OpenSans-Semibold', sans-serif;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 11px 1.4em;
  background: #faf9f9;
  color: #727070;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.75);
  border: 1px solid #b5b5b5;
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), 0 2px 1px 0 rgba(17, 17, 17, 0.07), inset 0 -1px 3px 0 #f6f6f7;
  background: #edeceb;
  background: linear-gradient(#e2e0e0, #bebdbd);
  background: -webkit-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: -o-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
  background: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
}
.buttons-feedback .feedback-reset:hover {
  background: #cbcaca;
  background: linear-gradient(#f9f9fa, #e8e7e8);
  background: -webkit-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: -o-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  background: linear-gradient(to top, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
  -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  box-shadow: inset 0 -2px 3px 0 rgba(45, 45, 45, 0.05), inset 0 -1px 3px 0 rgba(201, 201, 201, 0.61);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.buttons-feedback .feedback-reset:active {
  border: 1px solid #6d6d6d;
  -webkit-box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.3);
  background: #888686;
  background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
  background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
  color: #eeedec;
  text-shadow: 0px 1px 0px #666565;
}
.buttons-feedback .feedback-submit,
.buttons-feedback .feedback-reset {
  padding: 10px 1.6em;
}
