.autorization-form {
  cursor: pointer;
}
.autorization-form .autorization-checkbox {
  background-color: #ffffff;
  margin: 0em;
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  outline: none;
}
.autorization-form .label-checkbox {
  display: block;
  height: auto;
  width: auto;
  margin-bottom: 18px;
  margin-left: 15px;
}
.skils-item {
  border: 1px solid  #c5c5c5;
}
.skils-item:before,
.skils-item:after {
  display: none;
}
