.wrapper {
  background: url(../images/background.jpg) repeat-x;
}
.form {
  cursor: pointer;
}
.form .autorization-checkbox {
  background-color: #ffffff;
  margin: 0em;
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  outline: none;
}
.form .label-checkbox {
  display: block;
  height: auto;
  width: auto;
  margin-bottom: 18px;
  margin-left: 15px;
}
.skils-item {
  border: 1px solid  #c5c5c5;
  background: #f0eeed;
}
.skils-item:before,
.skils-item:after {
  display: none;
}
.add-image-wrapper {
  position: relative;
}
.add-image-wrapper .add-project-input {
  display: block;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  bottom: 0;
}
