@import url('fonts.less');
@import url('mixins.less');

@import url('components/menu.main.less');
@import url('components/menu.contacts.less');
@import url('components/content.less');

.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden; 
    min-height: 100%; 
}

.wrapper, .top-menu-header, .site-footer-section{
    min-width: 1200px;
}
//END SIDEBAR MAIN MENU
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrapper{
    background: url(../images/background.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    min-height: 100%;
    margin: 0 auto -63px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/background.jpg", sizingMethod='scale'); //for ie8
    &:after {
        content: "";
        display: block;
        height: 63px;
	}
}
// TOP-MENU-HEADER START 

.top-menu-header{
    background: #737171;
    min-height: 98px;
    padding-top: 10px;
    box-sizing: border-box;
    border-bottom: 7px solid #fff; 
}  
     
.top-menu-content{
    overflow: hidden;
    .header-logo{
        float: left;
        padding-left: 8px;
        .logo-link{
           display: block;
        }
    }
}


.top-menu-wrapper{
    float: right;
    padding-top: 12px;
    margin-right: -2px;
}
.top-menu{
    .ul-clear;
    overflow: hidden;
    .icons-wrapper{
        float: left;
        margin-right: 9px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.icons-social{
    display: block;
    width: 42px;
    height: 44px;
    background: url(../images/icons_sprite1.png) no-repeat;
}
.icons-wrapper{
    .f{
        background-position: 0px -4px;
        &:hover{
            background-position: 0px -48px;
        }
    }
    .vk{
        background-position: -42px -3px;
        &:hover{
            background-position: -42px -51px;
        }
    }
    .tw{
        background-position: -88px -3px;
        &:hover{
            background-position: -88px -51px;
        }
    }
    .g{
        background-position: -132px -3px;
        &:hover{
            background-position: -132px -51px;
        }
    }
}
// TOP-MENU-HEADER END

// PAGE-CONTENT START
.page-content-wrapper{
    overflow: hidden;
    padding-top: 34px;  
    border-top: 1px solid #ddcf9a;
    .content{
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        .sidebar{
            float: left;
            width: 250px;
        }
    }
}
.page-content{
    margin-left: 310px;
}

.my-photo-wrapper{
    width: 153px;
    height: 153px;
    float: left;
    box-sizing: border-box;
    border: 9px solid #f6f5f4;
    margin-top: 5px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1px rgba(0,0,0,1);
    .my-photo{
      width: 100%;
    }
}

.porfolio-basic{
    .ul-clear;
    margin-left: 188px;
    .porfolio-basic-item{
        margin: 0;
        font-family: OpenSans-Semibold;
        font-size: 14px;
        margin-bottom: 6px;
    }
}
.portfolio-basic-text{
    font-family:  OpenSans-Regular;
    padding-left: 3px;
    margin: 0;
    .portfolio-basic-span{
        text-transform: uppercase;
    }
}

.skils{
    padding-top: 10px;
    .skils-header{
        float: left;
    }
    .skils-inner{
        .ul-clear;
        margin-left: 140px;
    }
}
.skils-item{
    font-size: 9px;
    text-transform: uppercase;
    margin-left: 5px;
    display: inline-block;
    color: #1e7465;
    font-family:  OpenSans-Semibold;
    height: 25px;
    line-height: 21px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
   
    &:before, &:after{
        content: "";
        display: block;
        background: url(../images/icons_sprite2.png) no-repeat;
        float: left;
        width: 10px;
        height: 21px;
    }
    &:before{
        position: relative;
        top: 0px;
        left: 0;
        background-position: -277px 0px;
    }
    &:after{
        float: right;
        width: 4px;
        height: 21px;
        background-position: -416px 0px;
        position: relative;
        top: 0px;
        left: 0px;
    }
    .skils-text{
        display: inline-block;
        background: url(../images/label_line.png) repeat-x;
        padding: 0px 5px 0px 5px;
        text-shadow: 0px 1px 0px rgba(255,255,255,.45);
    }
}
// PAGE-CONTENT END    

.site-footer-section{
    height: 63px;
    text-align: center;
    font-size: 13px;
    color: #4a545d;
    position: relative;
    background: #fbfbfb;
    -webkit-box-shadow: inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow:    inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
    box-shadow:         inset 0px -60px 30px 0px rgba(0, 0, 0, 0.07);
}

.footer-inner{
    padding: 0 286px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    .footer-icon{
        display: block;
        float: left;
        position: relative;
        margin-left: 29px;
        text-transform: uppercase;
        font-family: OpenSans-Bold;
        font-size: 14px;
        color: #9c9c9c;
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.85);
        cursor: pointer;
        text-decoration: none;
        &:before{
            content:"";
            display: block;
            width: 24px;
            height: 22px;
            background: url(../images/icons_sprite1.png);
            background-position: 224px 23px;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -13px;
            margin-left: -29px;
        }
    }
    .footer-icon:hover:before{
        background-position: 202px 23px;
    }
}
.footer-item{
    display: block;
    margin-left: 125px;
    font-family: OpenSans-Light;
    font-size: 12px;
    color: #727070;
    text-align: left;
}
    


