@import url('common.less');

.panel .content-panel-header .panel-header{
	font-family:  OpenSans-Light;
}
.panel .content-panel-inner{
	padding: 28px 37px 37px 40px;
}
.feedback-form{
	width: 405px;
	margin: 0 auto;
}
.input-wrapper{
	float: left;
	width: 192px;
	margin-bottom: 16px;
	&:first-child{
		margin-right: 19px;
	}
}

.user-data-wrapper{
	overflow: hidden;
}
.form-label{
	font-family: OpenSans-Regular;
	font-size: 14px;
	color: #727070;
	display: block;
	margin-bottom: 8px;
}
.textarea-label{
	margin-bottom: 5px;
}
.input-user-data{
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	box-sizing: border-box;
	outline: none;
	border: 1px solid #d6d4d3;
	border-radius: 4px;
	color: #c7c6c6;
	padding: 13px 5px;
	-webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	-moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
	
	background: -o-linear-gradient(#fbfcfd,#f4f3f4);
	background: -webkit-linear-gradient(#fbfcfd,#f4f3f4);
	background: linear-gradient(#fbfcfd,#f4f3f4);
}

.textarea-wrapper{
	margin-bottom: 8px;
}
.message{
	width: 100%;
	resize: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #d6d4d3;
    border-radius: 4px;
    color: #c7c6c6;
    padding: 12px 5px;
    margin-bottom: 7px;
    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    -moz-box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    box-shadow: inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1), 0px 0px 1px 3px rgba(255, 255, 255, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    background: -o-linear-gradient(#fbfcfd,#f4f3f4);
    background: -webkit-linear-gradient(#fbfcfd,#f4f3f4);
    background: linear-linear-gradient(#fbfcfd,#f4f3f4);
    height: 183px;
}
.buttons-feedback{
	padding: 0 28px;
	.feedback-submit{
		#uikit > .button-primary;
		margin-right: 100px;
	}
	.feedback-reset{
		#uikit > .button-secondary;
	}
	.feedback-submit, 
	.feedback-reset{
		padding: 10px 1.6em;
	}
}
.form-status-message{
	display: none; 
    padding: 4px 8px;
    border-radius: 5px;
	font-size: 14px;
	font-family: 'OpenSans-Regular';
}
.ms-error{
	background: #e9c8bc;
	border: 1px solid #cb6945;
	color: #cb6945;
}
.ms-succes{
	background: #bce1cb;
    border: 1px solid #49bb7b;
    color: #49bb7b;
}
.recaptcha-wrapper{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
}