.ul-clear{
    margin: 0;
    padding:0;
    list-style-type: none;
}

.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}


#uikit {
    @font-family: 'OpenSans-Semibold', sans-serif;
    @font-size: 14px;

    .button {
        display: inline-block;
        font-size: @font-size;
        font-family: @font-family;
        font-weight: 600;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        border-radius: 5px;
        box-sizing: border-box;
        padding: 11px 1.4em;
    }

    .button-secondary{
        .button;
        background: #faf9f9;
        color: #727070;
        text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.75);
        // stroke
        border: 1px solid #b5b5b5;
        // inner shadow / drop shadow / inner glow
        -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45,45,45,0.05), 0 2px 1px 0 rgba(17,17,17,0.07), inset 0 -1px 3px 0 rgba(246,246,247,1);
        box-shadow: inset 0 -2px 3px 0 rgba(45,45,45,0.05), 0 2px 1px 0 rgba(17,17,17,0.07), inset 0 -1px 3px 0 rgba(246,246,247,1);
        background: #edeceb;
        background: linear-gradient(#e2e0e0,#bebdbd);
        background: -webkit-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
        background: -o-linear-gradient(bottom, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
        background: linear-gradient(to top, #e7e5e4 0%, #faf9f9 94%, #ffffff 100%);
       
        &:hover{
            background: #cbcaca;
            background: linear-gradient(#f9f9fa,#e8e7e8);
            background: -webkit-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
            background: -o-linear-gradient(bottom, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
            background: linear-gradient(to top, #c0bebe 0%, #e2e0e0 86%, #e7e6e6 90%, #e7e6e6 100%);
            // inner shadow / drop shadow / inner glow
            -webkit-box-shadow: inset 0 -2px 3px 0 rgba(45,45,45,0.05), inset 0 -1px 3px 0 rgba(201,201,201,0.61);
            box-shadow: inset 0 -2px 3px 0 rgba(45,45,45,0.05), inset 0 -1px 3px 0 rgba(201,201,201,0.61);
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
        }

        &:active{
            // stroke
            border: 1px solid #6d6d6d;
            -webkit-box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.30); 
            box-shadow: 0px 2px 1px 0 rgba(9, 9, 9, 0.22), inset 0px 1px 0px 0 rgba(255, 255, 255, 0.30); 
            background: #888686;
            background: -webkit-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
            background: -moz-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
            background: -o-linear-gradient(90deg, #7b7878 0%, #a9a8a8 100%);
            background: linear-gradient(0deg, #7b7878 0%, #a9a8a8 100%);
           color: #eeedec;
            text-shadow: 0px 1px 0px #666565; 
        }
      }

    .button-primary{
        .button;
        background: #fbf9f9;
        color: #1e7465;
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
        // stroke
        border: 1px solid #53bfa1;
        // inner shadow / drop shadow 
        -webkit-box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
        box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
        background: #4fc4a7;
        background:-webkit-linear-gradient(top,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%);
        background: -o-linear-gradient(top,  rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%);
        background: linear-gradient(to bottom,  rgba(128,232,203,1) 0%,rgba(67,183,150,1) 100%);

        &:hover{
            background: #4fc4a7;
            background: -o-linear-gradient(top,  rgba(95,220,189,1) 0%, rgba(58,160,135,1) 100%); 
            background: -webkit-linear-gradient(top,  rgba(95,220,189,1) 0%, rgba(58,160,135,1) 100%); 
            background: linear-gradient(top,  rgba(95,220,189,1) 0%, rgba(58,160,135,1) 100%); 
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
            -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
            box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
        }

        &:active{
            color: #eeedec;
            text-shadow: 0px 1px 0px rgba(102, 101, 101, 1);
            border: 1px solid #2d997e;
            -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
            box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3), 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
            background: #4fc4a7;
            background: -o-linear-gradient(top,  rgba(75,188,161,1) 0%, rgba(37,118,98,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(75,188,161,1) 0%,rgba(37,118,98,1) 100%); 
            background: linear-gradient(to bottom,  rgba(75,188,161,1) 0%,rgba(37,118,98,1) 100%); 
        }
    }
}

